rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow public to create messages
    match /messages/{messageId} {
      allow create: if true;
    }

    match /{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
